<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>beademo</title>
    <script src="../js/jquery.min.js"></script>
</head>
<body>
    BEA DEMO!!!!!22
    <form>
        账 号：<input id="username"/>
        密 码：<input id="password"/>
        <br/>
    </form>
    <button id="but">提交</button>
    <script>


        $("#but").click(function () {
            var username = $('#username').val();
            var password = $("#password").val();
            var data = {
                "username": username,
                "password": password
            }
            var url = "/dologin"
            $.ajax({
                type: "POST",
                url: url,
                // data: JSON.stringify(data),
                data: data,
                // contentType: "application/json",
                // dataType: "json",
                success: function (msg) {
                    console.log(msg)
                }
            })
        })

    </script>
</body>
</html>